<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="cataloginventory" sortOrder="10" showInWebsite="1" showInStore="1" showInDefault="1">
            <resource>LimeSoda_AllowAdminBackorder::config_limesoda_allowadminbackorder</resource>
            <group id="item_options" sortOrder="10" showInWebsite="1" showInStore="1" showInDefault="1">
                <field id="admin_backorders" type="select" sortOrder="3" showInDefault="1" showInWebsite="0"
                       showInStore="0" translate="label">
                    <label>Admin Backorders</label>
                    <comment>Allow backorders for admin orders</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
